.bodyFaceId{
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position:absolute;
    background-color: rgba(68, 68, 68, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxFaceId{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    gap: 20px;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 5px 5px 10px 5px #6b6b6b;
    margin: 5px;
    max-width: 90vw;
    max-height: 90vh;
}

.faceIdButtonContainer {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
}