@import url(menuTop.css);
@import url(index.css);
@import url(login.css);
@import url(cadastro.css);
@import url(therapistRegister.css);
@import url(teacherRegister.css);
@import url(studentRegister.css);
@import url(studantRegisterAge.css);
@import url(studantRegisterDiagnostic.css);
@import url(alerts.css);
@import url(studantRegisterUser.css);
@import url(childRegister.css);
@import url(homeStudent.css);
@import url(activity.css);
@import url(stamp.css);
@import url(redefinePassword.css);
@import url(homeProfessional.css);
@import url(profileProf.css);
@import url(studentsProfessional.css);
@import url(studentsInfo.css);
@import url(addStudents.css);
@import url(progressStudents.css);
@import url(reportStudents.css);
@import url(faceId.css);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
}