.menuTop{
    width: 100vw;
}

.menuBox{
    background: #1266ad;
    height: 13vh;
    width: 100%;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.textLogo{
    display: flex;
    align-items: end;
    width: 50%;
}

 @media (max-width: 450px) {
    .textLogo{
        flex-direction: column !important;
        align-items: start !important;
        line-height: 0.8;
    }

    .textLogoNeuro{
        margin-bottom: 0px !important;
        margin-left: 15px !important;
    }

    .textLogoPlay{
        margin-bottom: 0px !important;
        margin-left: 15px !important;
    }
 }

.textLogoNeuro{
    color: #fff;
    font-size: 6vh;
    margin-bottom: 10px;
    margin-left: 40px;
}

.textLogoPlay{
    color: #fcd108;
    font-size: 6vh;
    margin-bottom: 10px;
}

.BoximageLogo{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    height: 100%;
}

.logoimg{
    height: 70px;
    width: 75px;
    border-radius: 100%;
    margin-top: 7px;
    margin-right: 40px;
}

.logoimgOptions{
    height: 10vh;
    width: 75px;
    border-radius: 100%;
    margin-top: 2px;
}

.optionsImg{
    height: 8vh;
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.MenuDropDown {
    position: absolute;
    /* Alinha o topo do menu com o final da barra azul (13vh) */
    top: 13vh; 
    right: 5px; /* Adicionada a unidade px */
    width: 150px;
    height: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    color: #1266ad;
    border-radius: 0px 0px 5px 5px;
    transition: 0.3s;
    overflow: hidden; /* Evita que o texto vaze quando a altura for 0 */
}

.MenuDropDownSelect {
    position: absolute;
    /* Garante que ele comece exatamente onde a barra azul termina */
    top: 13vh; 
    right: 5px; /* Adicionada a unidade px */
    width: 150px;
    height: auto; /* Altera para auto ou mantém os 200px se preferir fixo */
    padding: 10px 0; /* Dá um espaçamento interno mais elegante */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    color: #1266ad;
    border-radius: 0px 0px 5px 5px;
    transition: 0.3s;
    z-index: 100;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Adiciona uma sombra suave para destacar do fundo */
}

.optionSelect{
    padding: 5px 0px 10px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.optionSelect:hover{
    padding: 5px 0px 10px 0px;
    width: 100%;
    cursor: pointer;
    background-color: #fcd108;
    transition: 0.5s;
}