.bodyStamp{
    background-color: #8fadff;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: start;
}

 @media (max-width: 380px) {
    .stampBox{
        border-radius: 0px 0px 15px 15px !important;
    }

    .animalItem{
        height: 80px !important;
        width: 120px !important;
    }

    .animalContent{
        align-items: start !important;
        width: 95% !important;
    }
 }

 @media (max-width: 900px) {
    .medalStamps{
        top: 130 !important; 
        height: 100px !important;
        width: 300px !important;
        flex-direction: row !important;
        justify-content: start !important;
    }

    .circleMedal{
        height: 100% !important;
        width: 30% !important;
        z-index: 0 !important;
        margin-left: 80px !important;
    }

    .squareMedal{
        width: 100px !important;
        min-height: 50px !important;
        margin-top: 0px !important;
        margin-left: 135px !important;
        padding-right: 10px !important;
        justify-content: end !important;
        align-items: center !important;
    }

    .tabAnimalStamp{
        margin-top: 150px !important;
    }

    .rowStamp, .rowAnimal{
        margin-top: 20px !important;
    }

 }

.medalStamps{
    position: absolute;
    top: 115; 
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.squareMedal{
    width: 100px;
    min-height: 100px;
    background-color: #7cc55c;
    margin-top: 100px;
    margin-left: 2px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.circleMedal{
    background-color: #7cc55c;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 200%;
}

.circleMedal1{
    background-color: rgba(190, 240, 161, 0.996);
    border-radius: 100%;
    height: 85%;
    width: 85%;
}

.stamp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 87vh;
}

.tabAnimalStamp{
    margin-top: 70px;
    width: 80%;
    display: flex;
}

.tabStampSelect, .tabAnimalSelect{
    background-color: #5a86ff !important;
    color: #fff !important;
}

.tabAnimal, .tabStamp{
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bff19c;
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
    transition: 0.5s;
    color: #07a7da;
    font-weight: bold;
}

.tabAnimal:hover, .tabStamp:hover{
    width: 150px;
    height: 30px;
    background-color: #5a86ff;
    color: #fff !important;
    transition: 0.5s;
}

.stampBox{
    background-color: #5a86ff;
    box-shadow: 0px 5px 15px 0px #8f8f8f;
    width: 80%;
    height: 50%;
    border-radius: 0px 15px 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-bottom: 50px;
    overflow-y: auto;
}

.rowStamp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    height: 250px;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;    
}

.rowAnimal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 353px;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 100px;
    overflow: hidden;
    overflow-y: auto;
}

.stampContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #fff;
    font-weight: bold;
}

.animalContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #fff;
    font-weight: bold;
    width: 90%;
}

.stampItem, .animalItem {
  width: 90px;
  height: 90px;
  background-color: #fff;
  color: #000;
  font-size: 30px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
}

.animalDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.3);
    color: #222;
    padding: 10px;
}

.nameAnimal{
    font-weight: bold;
    font-size: 20px;
}

.stampImage, .animalImage{
    height: 100%;
    width: 100%;
}