.bodyStudentRegister {
    background-image: url(../../public/images/campo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center; 
    justify-content: start;
  }
  
  .registerAreaStudent{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  
  .registerStudantLogo{
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 125px;
  }
  
  .registerStudantLogoImg{
      border-radius: 100%;
      width: 150px;
      height: 150px;
      box-shadow: 2px 2px 15px 0px #535353;
  }
  
  .registerStudantBox{
      background-color: #fff;
      border-radius: 50px;
      box-shadow: 0px 2px 15px 0px #535353;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 5px;
      padding: 10px;
  }

  .textHelloStudent{
    font-size: 40px;
    margin-top: 140px;
  }

  .textwelcomeStudent{
    font-size: 40px;
  }

  .textStudentName{
    font-size: 30px;
    margin-top: 30px;
  }
  
  .nameStudantInput{
      height: 30px;
      width: 340px;
      border: none; 
      outline: none;
      border-bottom: 2px solid #000; 
      margin-top: 20px;
      font-size: 30px;
  }
  
  .buttonRegisterStudant{
      height: 35px;
      width: 230px;
      border-radius: 50px;
      margin-top: 30px;
      margin-bottom: 20px;
      background: #1246ff;
      color: #fff;
      outline: none;
      border: none;
      font-weight: bold;
      font-size: 20px;
      box-shadow: 0px 2px 2px 0px #474747;
      cursor: pointer;
      transition: 0.5s;
  }

  .buttonRegisterStudant:hover{
      background: #5e80fa;
      transition: 0.5s;
  }